.recall-list--item-detail_date {
  font-weight: 400;
  font-size: small;
  font-style: italic;
}

.recall-list--item-detail_table-caption,
.recall-list--item-detail_content-heading {
  text-transform: capitalize;
}

.recall-list--item-detail_description {
  font-weight: 400;
}

.disclaimer.usa-alert {
  margin: 1.5rem 0;
}