.recall-list--item-detail_date {
  font-weight: 400;
  font-size: small;
  font-style: italic;
}

.recall-list--item-detail_table-caption {
  text-transform: capitalize;
}

.recall-list--item-detail_description {
  font-weight: 400;
}